venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw  

.DS_Store

.env
.venv/
rag_project/.streamlit/config.toml

rag_project/document_processor/twitter_utils/twitter_search_results/